blinker==1.4
Bootstrap-Flask==1.4
cachelib==0.1.1
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
Flask==2.3.2
Flask-Cors==3.0.9
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-MySQL==1.5.1
Flask-Session==0.3.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
PyJWT==2.4.0
PyMySQL==0.10.0
requests
six==1.15.0
urllib3==1.26.5
Werkzeug==2.0.1
pytest
