@media screen and (min-width: 640px) {

	.customcode {
		position:relative;
		float:right;
		/*top: -650px;*/
		bottom: 540px;
		left: 20px;
		width: 610px;
	}

	#btn-customcode_publish {
		z-index: 100;
	}
}