@media screen and (min-width: 640px) {

	.customcode-sample {
		position:relative;
		float:right;
		top: -670px;
		/*bottom: 540px;*/
		left: 20px;
		width: 610px;
	}

	.customcode-timer {
		position:relative;
		float:right;
		top: -440px;
		/*bottom: 540px;*/
		left: 20px;
		width: 610px;
	}	

	.customcode-wait, .customcode-effect {
		position:relative;
		float:right;
		top: -120px;
		/*bottom: 540px;*/
		left: 20px;
		width: 610px;
	}		

	#btn-customcode_publish {
		z-index: 100;
	}
}