ul.static { display: none;}

.ui-slider {
    margin-top: 50px;
}

/* Add tooltips to slider handles */
 .ui-slider-handle:after {
    content : attr(data-value);
    position: absolute;
    bottom: 30px;
    left: -10px;
    min-width: 40px;
    height: 20px;
    background-color: #eee;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: #ddd 1px solid;
    color: #333;
    font: .7em/1em Arial, Sans-Serif;
    padding: 1px;
    text-align: center;
}
.ui-slider-handle:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    margin-top: -1px;
}  

