.biblio {
  border:1px solid #fff;
  /*background:#A57A5A;*/
  padding: 0px;
  width:100%;
  margin-left:0px;
  /*border-radius: .7em;*/
}

ul.droppable, ul#draggable { width: 99%; height: 200px; padding: 1em; margin: 7px; color:#ddd; list-style: none; }
ul.droppable li { cursor: pointer; }

.droppable { 
  background: #4e5d6c; 
  /*border-radius: .7em;*/
  overflow-y: scroll;
}

ul#draggable li, ul.droppable li {
  background: #eedc9a; 
  border:1px solid #ddd;
  padding:5px;
  height:120px;
  width:81px;
  float:left;
  margin-right:10px;
  margin-top:5px;
  color:#212326;
  font-size:10px;
  box-shadow: 2px 1px 2px rgba(0,0,0,.10);
  /*border-radius: .5em;
  /*z-index: 5;*/
}

.droppable li .del {
  float:right;
  margin-left:5px;
  color:red;
  font-size:13px;
  font-weight:bold;
}

#draggable li .del {
  display:none;
}
