<div class="panel panel-default">
<div class="panel-body">
<form method="post" action="/bookreferencer/" class="form-horizontal">
{% if 'pageCount' in book %}
  {% set pages = book['pageCount'] %}
{% elif 'pages' in book %}
  {% set pages = book['pages'] %}
{% endif %}

{% if 'publishedDate' in book %}
  {% set year = book['publishedDate'] %}
{% elif 'year' in book %}
  {% set year = book['year'] %}
{% endif %}

{% set authors = '' %}
{% if 'authors' in book %}
  {% set authors = book['authors'] %}
{% elif 'author' in book %}
  {% set authors = book['author'].split(', ') %}
{% endif %}

{% if 'publisher' in book %}
  {% set editor = book['publisher'] %}
{% elif 'editor' in book %}
  {% set editor = book['editor'] %}
{% endif %}

{% if ref %}
  {% set reference = ref %}
{% elif 'reference' in book %}
  {% set reference = book['reference'] %}
{% endif %}

<fieldset>
         <div class="form-group"><label for="author" class="col-lg-1 control-label">Author</label> 
         {% if authors|length > 0 %}
	   {% for author in authors %}
	    <div class="col-lg-3">
	      <input type="text" name="authors[]" value="{{ author }}" class="form-control">
	    </div>
	   {% endfor %}
         {% endif %}
         </div>

	 <div class="form-group"><label for="title" class="col-lg-1 control-label">Title</label> 
	   <div class="col-lg-5">
		<input type="text" name="title" id="title" value="{{ book['title'] }}" class="form-control">
	    </div>
         </div>
         <div class="form-group"><label for="editor" class="col-lg-1 control-label">Editor</label> 
	   <div class="col-lg-5">
	        <input type="text" name="editor" value="{{ editor }}" class="form-control">
	    </div>
         </div>

	{% if 'industryIdentifiers' in book %}
	{% for isbn in book['industryIdentifiers'] %}
	  {% if isbn['type'] == "ISBN_13" %}
	   <input type="hidden" name="isbn" value="{{ isbn['identifier'] }}"> 
	  {% endif %}
	{% endfor %}
	{% else %}
         <div class="form-group"><label for="isbn" class="col-lg-1 control-label">ISBN</label> 
	   <div class="col-lg-5">
	    <input type="text" id="isbn" name="isbn" value="{{ book['isbn'] }}" class="form-control">
	    </div>
         </div>
	{% endif %}

	 <div class="form-group"><label for="pages" class="col-lg-1 control-label">Pages</label> 
	   <div class="col-lg-2">
		<input type="text" name="pages" id="pages" value="{{ pages }}" class="form-control">
	    </div>
         </div>
	 <div class="form-group"><label for="year" class="col-lg-1 control-label">Year</label> 
	   <div class="col-lg-2">
		<input type="text" name="year" id="year" value="{{ year }}" class="form-control">
	    </div>
         </div>

	<div class="form-group"><label for="tags" class="col-lg-1 control-label">Categories</label> 
	   <div class="col-lg-5"><textarea id="tags" name="tags"></textarea></div>
    </div> 

	{% if 'categories' in book %}

	    <script type="text/javascript">
	    	var bookCategories = {{book['categories']|safe}};
		</script>

	{% endif %}

    {% if 'id' in book %}
        <input type="hidden" name="id" value="{{ book['id'] }}">
	{% endif %}
	<input type="hidden" name="description" value="{{book['description']}}">
	<input type="hidden" name="reference" value="{{ reference }}">
	<input type="submit" value="Edit and save this !" class="btn btn-info">


</fieldset>
</form>
</div>
</div>
