			    <tr class="table-secondary{% if customcode['published']==0 %} text-muted{% endif %}" {% if customcode['published'] %}id="code_{{ customcode['id'] }}{% endif %}">
			      <td width="5%"><a href="{{ url_for('customCode', code_id=customcode['id']) }}">#{{ customcode['id'] }}</a></td>
			      <td width="15%"><a href="{{ url_for('customCode', code_id=customcode['id']) }}">{{ customcode['title'] }}</td>
			      <!--td>{{ customcode['description'] }}</td-->
			      <td width="80%" style="padding: 5px;">
			      {% if customcode['customvars'] %}
				    {% set customvars = json.loads(customcode['customvars']) %}
				      <!-- parse ledsarray to display customcode interpretation -->
				    {% for iteration in customvars %}
				      	{% set loopNumber = iteration.split('_') %}
					    {% if loop.index < 6 %}					    	
					      	<strong>Loop {{loopNumber[1]}}</strong>
						    {% for delay in customvars[iteration] %}
						      <table width="100%">
						      {% if customvars[iteration][delay]|length > 0 %}
						       <tr><td width="100">
						      	 Delay {{ delay|int/1000 }}s						       	
						       </td>  
						       <td style="padding: 5px;">	
						      	{% for strip in customvars[iteration][delay] %}						   
						      	  {% for block in strip  %}
						      	   <div class="{{ block.row }}" style="background-color: rgb( {{ block.color }} );width: {{ block.interval*15 }}px; display: inline-block;">&nbsp;</div> 
						      	  {% endfor %}
						      	  <br/>						   
						      	{% endfor %}
						       </td></tr>
						      {% endif %}
						      </table>
						    {% endfor %}						 
						{% else %}
							Loop {{loopNumber[1]}} [...]
						{% endif %}
				    {% endfor %}
			      {% endif %}
			  	  </td>
			  	  <td width="10%">{{ customcode['date_upd'].strftime('%Y-%m-%d') }}</td>
			  	  <td>
			  	  	<form method="post" action="/customcodedelete/" class="form-horizontal" id="del-customcode" onsubmit="return checkPublished({{ customcode['published'] }});">
						<input type="hidden" name="id" value="{{ customcode['id'] }}">
						<input type="submit" value="Delete code" class="btn btn-danger">
					</form>
			  	  </td>
			    </tr>