	  <h2>Example :</h2>
	  <p class="lead">"Turn on [all] LEDs with an offset of [5], on [each] strip with [different] colors."</p>
	  <p>In this phrase, we have defined 4 variables :</p>

	  <form class="form-horizontal">
	  	<fieldset>

	  	<div class="form-group form-inline">
	      <label for="code_title" class="col-lg-1 control-label">Title </label>
	      <input type="text" class="col-sm-5 form-control" name="code_title" id="code_title" placeholder="code Title" {% if data|length > 0 and data['title'] != None %}value="{{ data['title'] }}"{% endif %}>
	    </div>	

	    <div class="form-group form-inline">
	      <label for="description" class="col-lg-1 control-label">Description</label>
	      <textarea class="col-sm-5 form-control" id="description" name="description" rows="3">{% if data|length > 0 and data['description'] != None %}{{ data['description'] }}{% endif %}</textarea>
	    </div>	 

	  	<div class="form-group form-inline">
	  	  <input type="text" class="col-sm-1 form-control" name="nbLeds_val" placeholder="nbLeds" {% if customvars|length > 0 %}value="{{ customvars['nbLeds_val'] }}"{% endif %}>	
	      <label for="nbLeds_val" class="col-lg-3 control-label">nbLeds = number of leds to display </label>
	    </div>

	  	<div class="form-group form-inline">
		  <input type="text" class="col-sm-1 form-control" name="offset_val" placeholder="offset" {% if customvars|length > 0 %}value="{{ customvars['offset_val'] }}"{% endif %}>	  		
	      <label for="offset_val" class="col-lg-2 control-label">offset = number of the offset</label>
	    </div>	

	  	<div class="form-group form-inline">
		  <input type="text" class="col-sm-1 form-control" name="nbStrips_val" placeholder="nbStrips" {% if customvars|length > 0 %}value="{{ customvars['nbStrips_val'] }}"{% endif %}>	  		
	      <label for="nbStrips_val" class="col-lg-3 control-label">nbStrips = number of strips to display</label>
	    </div>	

	  	<div class="form-group form-inline">
	      <input type="text" class="col-sm-2 form-control" name="colorCode_val" placeholder="colorCode" {% if customvars|length > 0 %}value="{{ customvars['colorCode_val'] }}"{% endif %}>
	      <label for="colorCode_val" class="col-lg-3 control-label">color = code or mode of the colors to be shown </label>
	    </div>

	  	<div class="form-group form-inline" id="rgbCode">
	      <input type="text" class="col-sm-2 form-control" name="rgbCode_val" placeholder="rgb code" onfocus="javascript:colorEditor();" {% if customvars|length > 0 %}value="{{ customvars['rgbCode_val'] }}"{% endif %}>
	      <label for="rgbCode_val" class="col-lg-3 control-label">rgb = code of the color to be shown ("color" mode) </label>
	    </div>

	  	<div class="form-group form-inline">
	      <input type="text" class="col-sm-2 form-control" name="delay_val" placeholder="delay" value="{% if 'delay_val' in customvars %}{{ customvars['delay_val'] }}{% else %}50{% endif %}">
	      <label for="delay_val" class="col-lg-3 control-label">delay = wait interval between each instruction (milli second, 50 ms min) </label>
	    </div>	    	


		<div class="form-group form-inline">
			Blink mode :
			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="blink" value="on" {% if customvars|length > 0 and customvars['blink']=='on' %}checked=""{% endif %}>
				  Enable
				</label>
			</div>

			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="blink" value="off" {% if customvars|length > 0 and customvars['blink']=='off' %}checked=""{% endif %}>
				  Disable
				</label>
			</div>	
		</div>  

		<div class="form-group form-inline">
			Define loop priority :
			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="loop_priority" value="stripfirst" {% if customvars|length > 0 and customvars['loop_priority']=='stripfirst' %}checked=""{% endif %}>
				  Strip first
				</label>
			</div>

			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="loop_priority" value="ledsfirst" {% if customvars|length > 0 and customvars['loop_priority']=='ledsfirst' %}checked=""{% endif %}>
				  Leds first
				</label>
			</div>	
		</div>    

	    </fieldset>	 
	    {% if data|length > 0 %}
	    	<input type="hidden" name="code_id" value="{{ data['id'] }}">
	    {% endif %}

	    <input type="button" name="customcode_preview" id="btn-customcode_preview" class="btn btn-primary" value="Code preview">
	    <input type="button" name="customcode_update" id="btn-customcode_update" class="btn btn-success" value="Save code"> 

	  </form>

	{% if data|length > 0 %}
		{% set code_id = data['id'] %}
	{% else %}
		{% set code_id = 0 %}
	{% endif %}

	{% if customvars|length > 0 %}
		{% set color = customvars['rgbCode_val'].split(',') %}
	{% else %}
		{% set color = 0,0,0 %}
	{% endif %}

	{% with label = "code_id", value = code_id %}
		{% include '_color_editor.html' %}
	{% endwith %}	  

<!-- code version from sample -->
<span id="blink_val" style="display: none;">app.setBlockMessage(n, strip, offset, 'down', rgb);
		await timer(delay);</span>	
<pre id="customCodePreview" class="text-white-50 bg-dark p-3 mt-3 customcode">
<code id="customvars">
app.forceExit = false;	  	
var nbLeds = <span id="nbLeds_val"></span>;
var offset = <span id="offset_val"></span>;
var nbStrips = <span id="nbStrips_val"></span>;
var color = <span id="colorCode_val"></span>;
var rgb = <span id="rgbCode_val"></span>;
var delay = <span id="delay_val"></span>;
</code><code id="stripfirst">	
{{"for(n=0; n<nbLeds; n+=offset) { //loop for leds
	var strip = 1;
	while(strip<=nbStrips) { // loop for strips
		if(app.forceExit) break; 
		app.setBlockMessage(n, strip, offset, color, rgb);
		await timer(delay);"}}
		<span id="stripblink"></span>{{"
		strip++;
	}
}
"}}
</code><code id="ledsfirst">	
{{"var strip = 1;
while(strip<=nbStrips) { // loop for strips
	for(n=0; n<nbLeds; n+=offset) { //loop for leds
		if(app.forceExit) break; 
		app.setBlockMessage(n, strip, offset, color, rgb);
		await timer(delay);"}}
		<span id="codeblink"></span>{{"
	}
	strip++;	
}
"}}
</code>
</pre>
