	  {% if data|length > 0 %}
	  	  <h2 class="mb-3 text-white font-weight-light">"{{ data['title'] }}"</h2>
	  {% else %}
		  <h2 class="mb-3 text-white font-weight-light">Example :</h2>
		  <p class="lead">"Turn on [all] LEDs with an offset of [5], on [each] strip with [different] colors."</p>
		  <p>In this phrase, we have defined 4 variables :</p>
	  {% endif %}

<div id="code-form">

	  <form class="form-horizontal">
	  	<input type="hidden" name="template" value="sample">

	  	<fieldset>

	  	<div class="form-group row">
	      <label for="code_title" class="col-lg-2 col-form-label">Title </label>
	      <input type="text" class="col-sm-5 form-control" name="code_title" id="code_title" placeholder="code Title" {% if data|length > 0 and data['title'] != None %}value="{{ data['title'] }}"{% endif %}>
	    </div>	

	    <div class="form-group row">
	      <label for="description" class="col-lg-2 col-form-label">Description</label>
	      <textarea class="col-sm-5 form-control" id="description" name="description" rows="3">{% if data|length > 0 and data['description'] != None %}{{ data['description'] }}{% endif %}</textarea>
	    </div>	 

		<div class="form-group row">
			Define loop priority :
			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="loop_priority" value="stripfirst" {% if customvars|length > 0 and customvars['loop_priority']=='stripfirst' %}checked=""{% endif %}>
				  Strip first
				</label>
			</div>

			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="loop_priority" value="ledsfirst" {% if customvars|length > 0 and customvars['loop_priority']=='ledsfirst' %}checked=""{% endif %}>
				  Leds first
				</label>
			</div>	
		</div>  	    

	  	<div class="form-group row">
	  	  <label for="nbLeds_val" class="col-lg-3 col-form-label">nbLeds = number of leds to display </label>
	  	  <input type="text" class="col-sm-1 form-control" name="nbLeds_val" placeholder="nbLeds" {% if customvars|length > 0 %}value="{{ customvars['nbLeds_val'] }}"{% endif %}>
	    </div>

	  	<div class="form-group row">
		  <label for="offset_val" class="col-lg-3 col-form-label">offset = number of the offset</label>	  		
		  <input type="text" class="col-sm-1 form-control" name="offset_val" placeholder="offset" {% if customvars|length > 0 %}value="{{ customvars['offset_val'] }}"{% endif %}>	  		
	    </div>

	  	<div class="form-group row">
	      <label for="start_val" class="col-lg-3 col-form-label">start = starting position</label>	  		
		  <input type="text" class="col-sm-1 form-control" name="start_val" placeholder="start" value="{% if customvars|length > 0 %}{{ customvars['start_val'] }}{% else %}0{% endif %}">	  		
	    </div>	    	

	  	<div class="form-group row">
	      <label for="nbStrips_val" class="col-lg-3 col-form-label">nbStrips = number of strips to display</label>	  		
		  <input type="text" class="col-sm-1 form-control" name="nbStrips_val" placeholder="nbStrips" {% if customvars|length > 0 %}value="{{ customvars['nbStrips_val'] }}"{% endif %}>	  		
	    </div>	

	  	<div class="form-group row">
	      <label for="colorCode_val" class="col-lg-3 col-form-label">color = code or mode of the colors to be shown </label>
	      <input type="text" class="col-sm-2 form-control" name="colorCode_val" placeholder="colorCode" {% if customvars|length > 0 %}value="{{ customvars['colorCode_val'] }}"{% endif %}>
	    </div>

	  	<div class="form-group row" id="rgbCode">
	      <label for="rgbCode_val" class="col-lg-3 col-form-label">rgb = code of the color to be shown ("color" mode) </label>
	      <input type="text" class="col-sm-2 form-control" name="rgbCode_val" placeholder="rgb code" onfocus="javascript:colorEditor();" {% if customvars|length > 0 %}value="{{ customvars['rgbCode_val'] }}"{% endif %}>
	    </div>

	  	<div class="form-group row">
	      <label for="delay_val" class="col-lg-3 col-form-label">delay = wait interval between each instruction (milli second, 50 ms min) </label>	  		
	      <input type="text" class="col-sm-2 form-control" name="delay_val" placeholder="delay" value="{% if 'delay_val' in customvars %}{{ customvars['delay_val'] }}{% else %}50{% endif %}">
	    </div>	       	

		<div class="form-group row" id="blink-mode">
			Blink mode (only for turning on leds) :
			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="blink" value="on" {% if customvars|length > 0 and customvars['blink']=='on' %}checked=""{% endif %}>
				  Enable
				</label>
			</div>

			<div class="form-check ml-2">
				<label class="form-check-label">
				  <input type="radio" class="form-check-input" name="blink" value="off" {% if customvars|length > 0 and customvars['blink']=='off' %}checked=""{% endif %}>
				  Disable
				</label>
			</div>	
		</div>    		  

	    </fieldset>	 
	    {% if data|length > 0 %}
	    	<input type="hidden" name="code_id" value="{{ data['id'] }}">
	    {% endif %}

	    <input type="button" name="customcode_preview" id="btn-customcode_preview" class="btn btn-primary" value="Code preview">
	    <input type="button" name="customcode_update" id="btn-customcode_draft" class="btn btn-warning" value="Save code as draft">
	    <input type="button" name="customcode_update" id="btn-customcode_publish" class="btn btn-success" value="Save and publish">	    

	  </form>

	{% if data|length > 0 %}
	<br />
	<form method="post" action="/customcodedelete/" class="form-horizontal" id="del-customcode" onsubmit="return checkPublished();">
		<input type="hidden" name="id" value="{{ data['id'] }}">
		<input type="hidden" name="published" value="{{ data['published'] }}">
		<input type="submit" value="Delete" class="btn btn-danger">
	</form>
	<script type="text/javascript">
		function checkPublished() {
			var published = $('input[name="published"]').val();
			var str = "";
			if(published==1)
				str += "This code is published. ";
			str += "Are you sure ?";
			var r = confirm(str);	
			return r;
		}
	</script>
	{% endif %}	  

	<pre id="customCodePreview" class="text-white bg-dark p-3 mt-3 customcode-sample" style="display: none;"></pre>

</div>


	{% if data|length > 0 %}
		{% set code_id = data['id'] %}
	{% else %}
		{% set code_id = 0 %}
	{% endif %}

	{% if customvars|length > 0 and customvars['rgbCode_val']!=0 %}
		{% set color = customvars['rgbCode_val'].split(',') %}
	{% else %}
		{% set color = 0,0,0 %}
	{% endif %}

	{% with label = "code_id", value = code_id %}
		{% include '_color_editor.html' %}
	{% endwith %}	  


<!-- code version from sample -->
<script type="text/javascript">
/**
* Code generator for templating loops
*
*/
var codegen = {

  _code_blink:'',

  set_blink: function() {
   if(this.blink=='on')
    	this._code_blink =`//blinking effect\n\t\tapp.setBlockMessage(n, strip, ${this.offset}, 'down', null);\n\t\tawait timer(${this.delay});`
  },
  print_code: function(param) {

  	//code template priority to strips
  	if(param == 'stripfirst') {

		//code template for turning on iterative  			  		
var code = `/***\n* Turn on all specified strips in iterative mode\n***/
app.forceExit = false;
for(n=${this.start}; n<${parseInt(this.start)+parseInt(this.nbLeds)}; n+=${this.offset}) { //loop for leds
	var strip = 1;
	while(strip<=${this.nbStrips}) { // loop for strips
		if(app.forceExit) break; // mandatory
		//set lighting instructions to Bibus
		app.setBlockMessage(n, strip, ${this.offset}, '${this.color}', '${this.rgb}');
		await timer(${this.delay});
		${this._code_blink}
		strip++;
	}
}`;

	}

	//code template priority to leds for all strips
	if(param == 'ledsfirst') {

//loop for lighting all leds 
var code =  `/***\n* Turn on all specified leds in iterative mode\n***/
app.forceExit = false;
var strip = 1;
while(strip<=${this.nbStrips}) { // loop for strips
	for(n=${this.start}; n<${parseInt(this.start)+parseInt(this.nbLeds)}; n+=${this.offset}) { //loop for leds
		if(app.forceExit) break; // mandatory
		//set lighting instructions to Bibus
		app.setBlockMessage(n, strip, ${this.offset}, '${this.color}', '${this.rgb}');
		await timer(${this.delay});
		${this._code_blink}
	}
	strip++;
}`;	

	}

    $('#customCodePreview').text(code);
  }

};
</script>
