<form action="/locate/" method="post">
<input type="hidden" name="book_id" value="{{ book['id'] }}">
<input type="hidden" name="column" value="{{ book['address']['position'] }}">
<input type="hidden" name="row" value="{{ book['address']['row'] }}">
<input type="hidden" name="range" value="{{ led_range(book['pages']) }}">
<input type="hidden" name="app_id" value="{{ book['app_id'] }}">
{%if book['hasRequest'] %}
	<input type="submit" value="Remove request" class="btn btn-danger" name="remove_request">
{% else %}
	<input type="submit" value="Locate in {{ book['arduino_name'] }} !" class="btn btn-success" name="add_request">
{% endif %}
</form>