<div class="jumbotron">
  <h3>Manage position </h3>
  <form action="/locate/" method="post" class="form-horizontal">
  <fieldset>
    
    <div class="form-group">
      <div class="ui-widget">
        <label for="keyword">Permute position with : </label>
        <input id="keyword">
      </div>

      <input type="hidden" name="permute_book_title" id="permute_book_title" value="">
      <input type="hidden" name="permute_book_id" id="permute_book_id" value="">
      <input type="button" value="Permute position" class="btn btn-warning" name="permute" id="permute_action">
    </div>

    <div class="form-group">  
    <label for="submit" class="control-label">Locate on bookshelf :</label>	
    {%if book['hasRequest'] %}
      <input type="submit" value="Remove request" class="btn btn-danger" name="remove_request">
    {% else %}
      <input type="submit" value="Locate in {{ book['arduino_name'] }} !" class="btn btn-success" name="add_request">
    {% endif %}
    </div>
    <div class="form-group form-inline">
    	<label for="range" class="control-label">Adjust book interval :</label>
    	<div class="col-lg-3">
      <select name="range" id="range-adjust">
        <option>Adjust book interval</option>
        {% for i in range(1,10) %}
        <option value="{{i}}" {%if i==book['address']['range']%} selected="selected" {%endif%}>{{i}}</option>
        {% endfor %}
      </select>
  	</div>
    </div>	
  <input type="hidden" name="book_id" value="{{ book['id'] }}">
  <input type="hidden" name="column" value="{{ book['address']['position'] }}">
  <input type="hidden" name="led_column" value="{{ book['address']['led_column'] }}">
  <input type="hidden" name="row" value="{{ book['address']['row'] }}">
  <input type="hidden" name="app_id" value="{{ book['app_id'] }}">
  </fieldset>

  </form>
</div>