{% extends "layout.html" %}
{% block title %}Biblioapp{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='range.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}

<div class="container text-center">
  <h1 class="mt-5 text-white font-weight-light">Liste of books in your "{{ biblio_name }}" bookcase :</h1>
  <p class="lead text-white-50">Drag elements to record their position in shelfs.</p>
 
	<div class="biblio">

	<script>var droppableElements = [{% for line in lines %}'#droppable_{{(line)}}',{% endfor %}];</script>

	{% for line in lines %}
	<ul id="droppable_{{(line)}}" class="droppable success">
	{% if tidybooks != None %}
	  {% for position,book in tidybooks[line] %}
	  	{%if book['item_type']=='book' %}
	     <li id="book_{{book['id']}}" class="ui-state-default coverbook">
               {% if book['requested'] %}<span class="badge badge-success badge-pill">R</span>{% endif %}
               {% if book['borrowed'] %}<span class="badge badge-info badge-pill">B</span>{% endif %}
               <span class="badge badge-warning badge-pill del">X</span>
               <a href="{{ url_for('getBook',book_id=book['id']) }}">{{ book['author'] }} - {{ book['title'] }}</a>
         </li>
        {%else%}
        	<li class="non-draggable">&nbsp;</li>
        {%endif%}
	  {% endfor %}
	{% endif %}
	</ul>
	{% endfor %}

	</div>

<div class="notranged">
	<h3>Add book in shelf</h3>    
	<ul id="draggable">
    	{% if bookstorange %}
	   {% for book in bookstorange %}
	     <li id="book_{{book['id']}}" class="ui-state-default coverbook">
		<span class="del">x</span><a href="{{ url_for('getBook',book_id=book['id']) }}">{{ book['author'] }} - {{ book['title'] }}</a>
	     </li>
	   {% endfor %}
    	{% endif %}
	</ul>
</div>

</div>

{% endblock %}

{% block scripts %}
{{super()}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
  <script src="{{url_for('static', filename='range.js')}}"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>  
{% endblock %}

{% endblock %}

