{% extends "layout.html" %}
{% block title %}Book's search{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
	<div class="container">

	<h2>Book's reference search</h2>

	<form action="/booksearch/" method="post">
	<div class="form-group">
	<label for="isbn">ISBN</label> <input type="text" id="isbn" name="isbn" placeholder="isbn" value="{% if 'isbn' in req %}{{ req['isbn'] }}{% endif %}"></div>
	<div class="form-group">
	<label for="inauthor">Author</label> <input type="text" id="inauthor" name="inauthor" placeholder="author" value="{% if 'inauthor' in req %}{{ req['inauthor'] }}{% endif %}"></div>
	<div class="form-group">
	<label for="intitle">Title</label> <input type="text" id="intitle" name="intitle" placeholder="title" value="{% if 'intitle' in req %}{{ req['intitle'] }}{% endif %}"></div>
	<button type="submit" class="btn btn-primary btn-sm">Search reference</button>
	</form>

	{% if 'items' in data %}
	<!-- Api search results -->
	<h2>Results</h2>
	<ul>       
	{% for field in data['items'] %}
	    <li>
		<form method="post" action="/bookreferencer/">
		<input type="hidden" name="reference" value="{{ field['id'] }}">

		{% if 'authors' in field['volumeInfo'] %}
		  {% for author in field['volumeInfo']['authors'] %}
		    {{ author }}, 
		    <input type="hidden" name="authors[]" value="{{ author }}">
		  {% endfor %}
		{% endif %}

		<input type="hidden" name="title" value="{{ field['volumeInfo']['title'] }} {{field['volumeInfo']['subtitle']}}">
		<input type="hidden" name="editor" value="{{ field['volumeInfo']['publisher'] }}">
		<input type="hidden" name="pages" value="{{ field['volumeInfo']['pageCount'] }}">
		<input type="hidden" name="year" value="{{ field['volumeInfo']['publishedDate'] }}">
		<input type="hidden" name="description" value="{{field['volumeInfo']['description']}}">

		<i><a href="{{ url_for('searchBookReference') }}?ref={{ field['id'] }}">{{ field['volumeInfo']['title'] }}</a> {{field['volumeInfo']['subtitle']}}</i> - 
		{{ field['volumeInfo']['publisher'] }} ({{ field['volumeInfo']['publishedDate'] }}, {{ field['volumeInfo']['pageCount'] }}p)

		- {% if 'categories' in field['volumeInfo'] %}
		    {% for category in field['volumeInfo']['categories'] %}
			<input type="hidden" name="tags[]" value="{{ category }}">
			{{ category }}
		    {% endfor %}
		{% endif %}

		<ul>
		{% for isbn in field['volumeInfo']['industryIdentifiers'] %}
		  {% if isbn['type'] == "ISBN_13" %}
	 	    <input type="hidden" name="isbn" value="{{ isbn['identifier'] }}"> 
		    <li>ISBN : {{ isbn['identifier'] }}</li>
		  {% else %}
		    <input type="hidden" name="isbn" value="">
		  {% endif %}
		{% endfor %}
		</ul>

		<input type="submit" value="add this book !" class="btn btn-primary btn-sm">
		</form>
	   </li>
	{% endfor %}
	</ul>
	{% endif %}


	{% if bookapi and bookapi['volumeInfo'] %} 
        <!-- Detail book search results -->
        <h2>{{bookapi['volumeInfo']['title']}}</h2>
	<ul>
	     {% if 'imageLinks' in bookapi['volumeInfo'] %}
                 {% set image_format = namespace() %}
                 {% for imageLink in bookapi['volumeInfo']['imageLinks'] %}
                    <!--li>{{imageLink}} :: {{bookapi['volumeInfo']['imageLinks'][imageLink]}}</li-->
                    {% if imageLink == 'small' or imageLink == 'thumbnail' %}
                       {% set image_format.value = imageLink %}
                    {% endif %}
                 {% endfor %}
                 <li><img src="{{bookapi['volumeInfo']['imageLinks'][image_format.value]}}"></li>
             {% endif %}
	    {% for field in bookapi['volumeInfo'] %}
                {% if field != 'imageLinks' %}
	        <!--li>{{ field}} :: {{ bookapi['volumeInfo'][field] }}</li-->
                {% endif %}
	    {% endfor %}
	</ul>

	<form method="post" action="/bookreferencer/">
	  <div class="form-group"><label for="title">Title</label> <input type="text" name="title" id="title" value="{{ bookapi['volumeInfo']['title'] }}"></div>
	  <div class="form-group"><label for="pages">Pages</label> <input type="text" name="pages" id="pages" value="{{ bookapi['volumeInfo']['pageCount'] }}"></div>
	  <div class="form-group"><label for="year">Year</label> <input type="text" name="year" id="year" value="{{ bookapi['volumeInfo']['publishedDate'] }}"></div>
	{% if 'authors' in bookapi['volumeInfo'] %}
           <div class="form-group"><label for="author">Author</label> 
	  {% for author in bookapi['volumeInfo']['authors'] %}
	    <input type="text" name="authors[]" value="{{ author }}">
	  {% endfor %}
           </div>
	{% endif %}
	{% if 'categories' in bookapi['volumeInfo'] %}
	  {% for category in bookapi['volumeInfo']['categories'] %}
	   <input type="hidden" name="tags[]" value="{{ category }}">
	  {% endfor %}
	{% endif %}
	{% if 'industryIdentifiers' in bookapi['volumeInfo'] %}
	{% for isbn in bookapi['volumeInfo']['industryIdentifiers'] %}
	  {% if isbn['type'] == "ISBN_13" %}
	   <input type="hidden" name="isbn" value="{{ isbn['identifier'] }}"> 
	  {% endif %}
	{% endfor %}
	{% else %}
	  <input type="hidden" name="isbn" value="">
	{% endif %}
	<input type="hidden" name="description" value="{{bookapi['volumeInfo']['description']}}">
	<input type="hidden" name="reference" value="{{ ref }}">
	<input type="hidden" name="editor" value="{{ bookapi['volumeInfo']['publisher'] }}">
	<input type="submit" value="add this !" class="btn btn-primary btn-sm">
	</form>
	{% endif %}

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% endblock %}
