{% extends "layout.html" %}
{% block title %}{{ book['title'] }}{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='book.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
	<div class="container">

	<h2>{{ book['title'] }} - {{ book['author'] }}</h2>

        {% include '_book_form.html' %}

	{% if book['address']['id_item'] %}

		{% include '_locate_form.html' %}
		
	{% else %}
	<form class="form-horizontal">
		<script>
			var book_title="{{ book['title'] }}";
			var book_author="{{ book['author'] }}";
			var book_url="{{ url_for('getBook',book_id=book['id']) }}";
		</script>
		<fieldset>
		 <a href="javascript:void(0);" class="btn btn-warning" id="rangebook-{{ book['id'] }}">Range this !</a>
		 {% set lines=range(biblio_nb_rows) %} 
		 <div class="form-group" id="shelf-num">
		    <label for="select" class="col-lg-2 control-label">Select a shelf:</label>
		    <div class="col-lg-3">
			<select class="form-control" id="select-shelf">
			  <option selected="selected">Shelf number</option>
	     		{% for line in lines %}
			  <option value="{{line+1}}">Shelf {{line+1}}</option>
		 	{% endfor %}
			</select>
		    </div>
		 </div>

		 <ul id="droppable_0" class="droppable">
		 </ul>

		 <input id="save-pos" type="button" value="Save position" class="btn btn-success">

	    </fieldset>
	</form>
	{% endif %}

	<blockquote>
	  <p>Description</p>
	  <small>{{ book['description'] }}</small>
	</blockquote>



	<!--ul>
	{% for field in book %}
	    <li>{{ book[field] }}</li>
	{% endfor %}
	</ul-->
        
	{% if tags %}
        <h3>Association</h3>
        <ul>
	{% for tag in tags %}
	  <li>{{ tag['tag'] }}</li>
	{% endfor %}
	</ul>
        {% endif %}


	{{ super() }}

	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
  <script src="{{url_for('static', filename='book.js')}}"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
