{% extends "layout.html" %}
{% block title %}Book's search{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='book.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/jQuery-tagEditor/jquery.tag-editor.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
	<div class="container">

	<h1 class="mt-5 text-white font-weight-light">Book's reference search</h1>

	<form action="/booksearch/" method="post" class="form-horizontal">
	<div class="form-group">
	<label for="isbn" class="col-lg-1 control-label">ISBN</label> 
	   <div class="col-lg-3">
		<input type="text" id="isbn" name="isbn" placeholder="isbn" value="{% if 'isbn' in req %}{{ req['isbn'] }}{% endif %}" class="form-control">
           </div>
        </div>
	<div class="form-group">
	<label for="inauthor" class="col-lg-1 control-label">Author</label> 
	   <div class="col-lg-3">
		<input type="text" id="inauthor" name="inauthor" placeholder="author" value="{% if 'inauthor' in req %}{{ req['inauthor'] }}{% endif %}" class="form-control">
           </div>
	</div>
	<div class="form-group">
	<label for="intitle" class="col-lg-1 control-label">Title</label> 
	   <div class="col-lg-3">
		<input type="text" id="intitle" name="intitle" placeholder="title" value="{% if 'intitle' in req %}{{ req['intitle'] }}{% endif %}" class="form-control">
           </div>
        </div>
	<button type="submit" class="btn btn-primary btn-sm">Search reference</button>
	</form>

	{% if 'items' in data %}
	<!-- Api search results -->
	<h2>Results</h2>
	<ul>       
	{% for field in data['items'] %}
	    <li>
		<form method="post" action="/bookreferencer/">
		<input type="hidden" name="reference" value="{{ field['id'] }}">

		{% if 'authors' in field['volumeInfo'] %}
		  {% for author in field['volumeInfo']['authors'] %}
		    {{ author }}, 
		    <input type="hidden" name="authors[]" value="{{ author }}">
		  {% endfor %}
		{% endif %}

		<input type="hidden" name="title" value="{{ field['volumeInfo']['title'] }} {{field['volumeInfo']['subtitle']}}">
		<input type="hidden" name="editor" value="{{ field['volumeInfo']['publisher'] }}">
		<input type="hidden" name="pages" value="{{ field['volumeInfo']['pageCount'] }}">
		<input type="hidden" name="year" value="{{ field['volumeInfo']['publishedDate'] }}">
		<input type="hidden" name="description" value="{{field['volumeInfo']['description']}}">

		<i><a href="{{ url_for('searchBookReference') }}?ref={{ field['id'] }}">{{ field['volumeInfo']['title'] }}</a> {{field['volumeInfo']['subtitle']}}</i> - 
		{{ field['volumeInfo']['publisher'] }} ({{ field['volumeInfo']['publishedDate'] }}, {{ field['volumeInfo']['pageCount'] }}p)

		- {% if 'categories' in field['volumeInfo'] %}
		    {% for category in field['volumeInfo']['categories'] %}
			<input type="hidden" name="tags[]" value="{{ category }}">
			{{ category }}
		    {% endfor %}
		{% endif %}

		<ul>
		{% for Ids in field['volumeInfo']['industryIdentifiers'] %}
		  {% if Ids['type'] == "ISBN_13" %}
		  	<input type="hidden" name="isbn" value="{{Ids['identifier']}}">
		  	<li>ISBN : {{ Ids['identifier'] }}</li>
		  {% endif %}
		{% endfor %}
		</ul>

		<input type="submit" value="add this book !" class="btn btn-primary btn-sm">
		</form>
	   </li>
	{% endfor %}
	</ul>
	
	{% endif %}
	
	<p><a href="{{ url_for('searchBookReference') }}?ref=new">Add new book</a> </p>

        <!-- Detail book search results -->
	{% if ref %} 

		<!-- new item -->
		{% if ref == 'new' %}
			<h2>new book</h2>

		<!-- search results -->
	    {% else %}

	    	<h2>{{book['title']}}</h2>
			<ul>
		     {% if 'imageLinks' in book %}
	                 {% set image_format = namespace() %}
	                 {% for imageLink in book['imageLinks'] %}
	                    <!--li>{{imageLink}} :: {{book['imageLinks'][imageLink]}}</li-->
	                    {% if imageLink == 'small' or imageLink == 'thumbnail' %}
	                       {% set image_format.value = imageLink %}
	                    {% endif %}
	                 {% endfor %}
	                 <li><img src="{{book['imageLinks'][image_format.value]}}"></li>
	             {% endif %}
		    {% for field in book %}
	                {% if field != 'imageLinks' %}
		        <!--li>{{ field}} :: {{ book[field] }}</li-->
	                {% endif %}
		    {% endfor %}
			</ul>

		{% endif %}

			{% include '_book_form.html' %}

	{% endif %}

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
{{super()}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
  <script src="{{url_for('static', filename='book.js')}}"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/jQuery-tagEditor/jquery.caret.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/jQuery-tagEditor/jquery.tag-editor.js')}}"></script>
{% endblock %}

{% endblock %}
