{% extends "layout.html" %}

{% block title %}{{ book['title'] }}{% endblock %}

{% block body %}
<h1>{{ book['title'] }} - {{ book['author'] }}</h1>
<ul>
{% for field in book %}
    <li>{{ book[field] }}</li>
{% endfor %}
</ul>

{% if address['id'] %}
<form action="/locate/" method="post">
<input type="hidden" name="book_id" value="{{ book['id'] }}">
<input type="hidden" name="col" value="{{ address['col'] }}">
<input type="hidden" name="line" value="{{ address['line'] }}">
<input type="hidden" name="space" value="{{ address['space'] }}">
<input type="hidden" name="arduino_id" value="{{ arduino_id }}">
<input type="submit" value="Locate now !">
{% endif %}

{% endblock %}
