{% extends "layout.html" %}
{% block title %}Borrowed books{% endblock %}
{% block styles %}
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}


	<div class="container">

	<h1 class="mt-5 text-white font-weight-light">Borrowed books</h1> 

	{%if books %}
	  <ul>
	  	{% for book in books %}
			<li><a href="{{ url_for('getBook', book_id=book['id']) }}">{{ book['author'] }}, <i>{{ book['title'] }}</i>, {{ book['year'] }}, {{ book['pages'] }}p</a>
	  			{% if book['address'] %}
	  			
	  				{% set address = book['address'] %}
	  				{% set hasRequest = book['hasRequest'] %}
					{% include '_locate_form.html' %}
	  				
				{% endif %}
			</li>
	  	{% endfor %}
	  </ul>
	  {% endif %}	

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
{% endblock %}

{% endblock %}
