{% extends "layout.html" %}
{% block title %}Authors{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="alternate" href="android-app://com.bearstech.bibliobus/https/bibliob.us/locate_for_tag/.*" />
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
	<div class="container">

		<h1 class="mt-5 text-white font-weight-light">Categories</h1>

		<ul>
		  	{%for category in categories %}
			<li><a href="/tag/{{ category['id'] }}">{{ category['tag'] }}</a> ({{ category['nbnode'] }})
				<a href="{{ url_for('locateBooksForTag', tag_id=category['id'], uuid=uuid_encode) }}"><span class="badge badge-pill badge-success">Locate</span></a>
			</li>
		  	{% endfor %}
		</ul>

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
