{% extends "layout.html" %}
{% block title %}Custom Messages{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='customcodes.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
      <div id="title-header"></div>
      <div id="output"></div>  
      <div id="pageContainer">
        <div id="blocklyDiv"></div>
        <div id="outputPane">
          <pre id="generatedCode"><code></code></pre>
          <button id="stepcode" class="button" style="background-color: #FFCC00;">EXPLAIN + TRY</button>
          <button id="stopcode" class="button" style="background-color: #555555;color:white;">STOP</button>
          <button id="runcode" class="button" style="background-color: #4CAF50;">RUN CODE</button>
          <button id="savecode" class="button" style="background-color: #008CBA;">SAVE CODE</button>
          <button id="reset" class="button" style="background-color: #f44336;">RESET ALL</button>
        </div>
      </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='app.js')}}"></script>
  <script defer="defer" src="{{url_for('static', filename='bibliogame.js', version='2311011138')}}"></script>
  <script type="text/javascript">
   	var app_maxLedsStrip = {{ max_leds_strip }};
    var app_baseUrl = 'https://{{ api_hostname }}/api';
    var app_uuid = '{{ uuid_encoded }}';
    var app_code_id = {{ code_id }};	
  </script>
{% endblock %}

{% endblock %}
