{% extends "layout.html" %}
{% block title %}Custom Messages{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='customcodes.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
	<div class="container">
		
	<h1 class="mt-5 text-white font-weight-light">Display leds on your way !</h1>

	<p>Learn how programming with your leds : each step of your code can be easily controlled on the strips.</p>

	{% if customcodes %}
		<h2>List of your codes</h2>

	<ul class="nav nav-pills">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#code-sortable">Published code</a>
	  </li> 
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#code-draft">Code draft</a>
	  </li> 	   
	</ul>	

	<div class="tab-content">		

		<!-- Published code is sortable only -->
			<table class="table table-hover tab-pane show active" id="code-sortable">
			<thead>
			    <tr class="table-light">
			      <th scope="col">Type</th>
			      <th scope="col">Title</th>
			      <th scope="col">Description</th>
			      <th scope="col">Variables</th>
			      <th scope="col">Updated</th>
			    </tr>
			</thead>
			<tbody>
			{% for customcode in customcodes %}
				{% if customcode['published'] %}
			    <tr class="table-secondary{% if customcode['published']==0 %} text-muted{% endif %}" id="code_{{ customcode['id'] }}">
			      <th scope="row">#{{ customcode['id'] }}</th>
			      <td><a href="{{ url_for('customCode', code_id=customcode['id']) }}">{{ customcode['title'] }}</td>
			      <td>{{ customcode['description'] }}</td>
			      <td>
			      {% if customcode['customvars'] %}
				      {% set customvars = json.loads(customcode['customvars']) %}
				      
				      {% for customvar in customvars %}
				      <strong>{{customvar}} :</strong> {{ customvars[customvar] }} &nbsp;
				      {% endfor %}
				      
			      {% endif %}
			  	  </td>
			  	  <td>{{ customcode['date_upd'].strftime('%Y-%m-%d') }}
			    </tr>
			    {% endif %}
			{% endfor %}
				</tbody> 
			</table>

		<!-- Draft code is not sortable -->
			<table class="table table-hover tab-pane fade" id="code-draft">
			<thead>
			    <tr class="table-light">
			      <th scope="col">Type</th>
			      <th scope="col">Title</th>
			      <th scope="col">Description</th>
			      <th scope="col">Variables</th>
			      <th scope="col">Updated</th>
			    </tr>
			</thead>
			<tbody>
			{% for customcode in customcodes %}
				{% if customcode['published']==0 %}
			    <tr class="table-secondary{% if customcode['published']==0 %} text-muted{% endif %}">
			      <th scope="row">#{{ customcode['id'] }}</th>
			      <td><a href="{{ url_for('customCode', code_id=customcode['id']) }}">{{ customcode['title'] }}</td>
			      <td>{{ customcode['description'] }}</td>
			      <td>
			      {% if customcode['customvars'] %}
				      {% set customvars = json.loads(customcode['customvars']) %}
				      
				      {% for customvar in customvars %}
				      <strong>{{customvar}} :</strong> {{ customvars[customvar] }} &nbsp;
				      {% endfor %}
				      
			      {% endif %}
			  	  </td>
			  	  <td>{{ customcode['date_upd'].strftime('%Y-%m-%d') }}
			    </tr>
			    {% endif %}
			{% endfor %}
				</tbody> 
			</table>			

	</div>


	<button type="button" class="btn btn-primary m-3" id="save-order">Save changes</button>

	{% endif %}

	<ul class="nav nav-tabs" id="code-selector">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#sample">Sample code</a>
	  </li> 
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#timer">Code Timer</a>
	  </li> 	   
	</ul>	

	<div class="tab-content" id="code-type">	

		<div class="jumbotron tab-pane show active" id="sample"></div>

		<div class="jumbotron tab-pane" id="timer"></div>		

	</div>

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
   <script src="{{url_for('static', filename='customcodes.js')}}" async=""></script>
   <script>
   	  var max_leds = '{{ max_leds }}';

	  $( function() {

	  	$('#save-order').hide();

	    $( "#code-sortable tbody" ).sortable({
	    	stop: function(e, ui) {
			    $('#save-order').removeClass('btn-success');
			    $('#save-order').text('Save changes');	    		
	    		$('#save-order').show();
	    	}
	    })
	  });

	  $('#save-order').on('click', function() {
	  	var elements = $( "#code-sortable tbody" ).sortable('serialize');
	  	//console.log(elements);
	 	elements = elements+'&customcode=1';    
		ajax_postOrder(elements, this);
	  });

   </script>   
{% endblock %}

{% endblock %}
