{% extends "layout.html" %}
{% block title %}Custom Messages{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='customcodes.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
	<div class="container">
		
	<h1 class="mt-5 text-white font-weight-light">Display leds on your way !</h1>

	<p>Learn how programming with your leds : each step of your code can be easily controlled on the strips.</p>

	<div class="jumbotron">
	  
	{%if customvars['template']=='timer' %}

	  {% include '_customcode_timer.html' %}

	{% else %}
	  
	  {% include '_customcode_sample.html' %}
	
	{% endif %}
	

	<!-- version currently saved -->
	<pre id="customCodeCurrent" class="text-white-50 bg-dark p-3 mt-3 customcode">
{{ customcode }}
	</pre>

	</div>

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
   <script src="{{url_for('static', filename='customcodes.js')}}" async=""></script>
{% endblock %}

{% endblock %}
