{% extends "layout.html" %}
{% block title %}Bookshelf custom colors{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='customcolors.css')}}">
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}

	<div class="container">
		
	<h1 class="mt-5 text-white font-weight-light">Edit custom colors:</h1>
	
	  {% if module %}

    <p>Drag the emplacement of separations between colors foreach line in shelf. Click on "add color" to split new separation.</p>  

    <form method="POST" action="{{ url_for('customColors', app_id=module['id']) }}" id="formCustomColors">
      <input type="hidden" name="module_id" value="{{ module['id'] }}">
    </form>


      <script type="text/javascript">
        var nb_cols = {{ module['nb_cols'] }};
        var leds_interval = {{ module['leds_interval'] }};
        var sliderList = new Array();
      </script>

      {% include '_color_editor.html' %}

			{% for line in range(module['nb_lines']) %}
      <div id="shelf">
					<ul id="static_{{ line+1 }}" class="static">
					{% set statics = [] %} {#db.get_static_positions(module['id'], line+1)#}
					{% if statics %}
						{% for static in statics %}
						<li id="sep_{{line+1}}_{{loop.index}}">{{ static['led_column'] }}</li>
            <input type="text" id="new_color_{{ line+1 }}_{{ loop.index }}" name="custom_color" value="">
						{% endfor %}
					{% endif %}						
					</ul>

        <div class="mb-2">

				  <h4>Shelf {{ line+1 }}</h4>      

          <div id="slider_{{ line+1 }}" class="mb-5"></div>
					<script type="text/javascript">
						sliderList.push("static_{{ line+1 }}");
					</script>

          <button type="button" class="btn btn-info" id="add_{{ line+1 }}">Add new color position</button>
          <button type="button" class="btn btn-danger" id="remove_{{ line+1 }}">Remove last color position</button>

        </div>
      </div>
			{% endfor %}


      <div class="alert alert-info alert-dismissible fade show" role="alert" id="alertPreview">
        <strong>Preview is set !</strong> You should check with "Get distant requests" in BiblioApp.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertSave">
        <strong>Separator positions are saved !</strong> Your bookshelf is well configured. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      

    {% endif %}

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='customcolors.js')}}" async></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
