{% extends "layout.html" %}
{% block title %}Bibliobus{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
 <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('/static/img/presentation_2_1852x1040.jpg');">
    <img class="img-fluid d-block mx-auto" src="/static/img/three-books_gray.svg" alt="Biblio App" width="200px">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>{{ index_title }}</h1>
      <p class="lead">{{ index_subtitle }}</p>
      <p>{{ index_title_desc_1 }}</p>
      <p>{{ index_title_desc_2 }}</p>
      
      <p class="small">{{ index_title_small }}</p>
    </div>
  </section>

  <!-- Image element - set the background image for the header in the line below -->
  <div class="py-5 bg-image-full" style="background-image: url('/static/img/presentation_3_1900x1175.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </div>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>{{ adressing_title }}</h1>
      <p class="lead">{{ adressing_subtitle }}</p>
      <p>{{ adressing_desc_1 }}</p>
      <p>{{ adressing_desc_2 }}</p>
    </div>
  </section> 

  <a name="videos">
  <section class="py-2">
    <div class="container">
      <h1>Démos</h1>
      <p class="lead">{{ demo_subtitle }}<p>
      <ul class="list-group list-group-flush">

        <li class="list-group-item list-group-item-dark">
          <h2 class="font-weight-light"><a href="javascript:videosPresentation('tutoCustomColors');" class="text-white">{{ video_colors_title }}</a></h2> 
          <div class="row">
            <div class="w-320">
              <a href="javascript:videosPresentation('tutoCustomColors');"><img src="/static/img/captvideo_tuto.jpg"></a>
            </div>
            <div class="col">
                  <p>{{ video_colors_desc_1 }}</p>

                  <p>{{ video_colors_desc_2 }}</p>
                  <!--Sur le serveur, utiliser l'outil d'édition des étagères pour paramétrer les séparations entre chaque couleur, et éditer les valeurs RGB à l'aide du mélangeur de couleurs.</p-->

                  <p>{{ video_colors_desc_3 }}</p>
                  <!-- Utiliser l'application "Biblio App" pour se connecter au module et activer "Upload and play colors". Les zones de couleurs sont transmises à la mémoire du module d'éclairage et le résultat s'affiche directement dans l'étagère.</p-->

                  <p>{{ video_colors_desc_4 }}</p>
                  <!--Pour allumer les couleurs personnalisées, il faut appuyer 2 fois sur le bouton du module.<br />
                    Le capteur du module est  sensible aux variations d'une source sonore située à proximité. Il charge une librairie qui mesure le tempo et crée des oscillations sur l'éclairage en utilisant les couleurs personnalisées.
                  </p-->

            </div>
          </div>
        </li>  

        <li class="list-group-item list-group-item-dark">
          <h2 class="font-weight-light"><a href="javascript:videosPresentation('listeContenus');" class="text-white">{{ video_lists_title }}</a></h2> 
          <div class="row">
            <div class="w-320">
              <a href="javascript:videosPresentation('listeContenus');"><img src="/static/img/captvideo.jpg"></a>
            </div>
            <div class="col">
                <p>{{ video_lists_desc_1 }}</p>
                <p>{{ video_lists_desc_2 }}</p>
            </div>
          </div>
        </li>
        
      
        <li class="list-group-item list-group-item-dark">
          <h2 class="font-weight-light"><a href="javascript:videosPresentation('commandeVocale');" class="text-white">{{ video_vocal_title }}</a></h2>
        <div class="row">
          <div class="w-320">
            <a href="javascript:videosPresentation('commandeVocale');"><img src="/static/img/captvideo.jpg"></a>
          </div>
          <div class="col">
            <p>{{ video_vocal_desc_1 }}</p> 
            <p>{{ video_vocal_desc_2 }}</p>
            <p>... </p>
          </div>
        </div>  
        </li>

        <li class="list-group-item list-group-item-dark"><h2 class="font-weight-light"><a href="javascript:videosPresentation('effetsLumineux');" class="text-white">{{ video_effects_title }}</a></h2>
        <div class="row">
          <div class="w-320">
            <a href="javascript:videosPresentation('effetsLumineux');"><img src="/static/img/captvideo.jpg"></a>
          </div>
          <div class="col">
            <p>{{ video_effects_desc_1 }}</p>
          </div>
        </div>  
        </li>        

      </ul>

        {% include '_videos_presentation.html' %}

      </div>
  </section>


  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Bientôt l'application "Bibliobus serveur" sera un projet ouvert !</h1>
      <p class="lead">Plus il y aura d'instances Bibliobus qui seront lancées, plus les possibilités de partage seront performantes.</p>
      <p>Bibliobus se place dans un modèle d'architecture décentralisée et répartie afin de laisser le choix à ses utilisateurs de partager ou non leurs données plutôt que d'imposer des politques de confidentialité qui sont, dans le cadre d'une architecture centralisée, coûteuses en énergie, sources de détournement, et compliquées à mettre en oeuvre pour faire respecter les choix de l'utilisateur.  <br />L'application serveur sera accessible en téléchargement libre depuis le dépôt Docker Hub. En revanche, l'application mobile et le module bibus resteront encore dans le secret de fabrication...</p>
    </div>
  </section> 

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bibliob.us 2020</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
  function videosPresentation(contentId) {
      $("#videosPresentation .modal-dialog .modal-content").each( function(index) {
        $(this).hide();
      });
      $("#videosPresentation").modal();
      $("#"+contentId).show(); 

      //force stop video on closing modal box
      $('#'+contentId+' .close').click(function(){
          let containerElement = document.getElementById(contentId);
          let iframe_tag = containerElement.querySelector( 'iframe');
          let video_tag = containerElement.querySelector( 'video' );
          if ( iframe_tag) {
              let iframeSrc = iframe_tag.src;
              iframe_tag.src = iframeSrc; 
          }
          if ( video_tag) {
              video_tag.pause();
          }
      });
  }
  </script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
