{% extends "layout.html" %}
{% block title %}Bibliobus{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
 <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('/static/img/presentation_2_1852x1040.jpg');">
    <img class="img-fluid d-block mx-auto" src="/static/img/three-books_gray.svg" alt="Biblio App" width="200px">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Biblio(bus) est un système de localisation d'objets.</h1>
      <p class="lead">Bibliobus permet d'indexer, de partager, et de localiser des objets facilement et qui, en plus, est joli.</p>
      <p>C’est un système d’éclairage pour rechercher et repérer, via un signal lumineux, un objet disposé sur un support. Basé sur un index interrogeable à distance et couplé à circuit de type Arduino, communiquants en liaison série (bus), il permet d'interroger un support pour trouver un objet.</p>
    </div>
  </section>

  <!-- Image element - set the background image for the header in the line below -->
  <div class="py-5 bg-image-full" style="background-image: url('/static/img/presentation_3_1900x1175.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </div>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>L'adressage d'objets, pourquoi faire ?</h1>
      <p class="lead">La consommation et la production d'objets sont devenus cruciaux pour l'économie de distribution. </p>
      <p>Parmi ces objets, il en est certains qui nous sont nécessaires pour vivre. Ces objets doivent demeurer échangeables, réutilisables, partageables.<br />
      Bibliobus est un moyen efficace et ludique pour inscrire le cycle de vie des objets dans une économie circulaire efficiente,  pour tous.</p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bibliob.us 2020</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
