{% extends "layout.html" %}
{% block title %}Bibliobus{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
 <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('/static/img/presentation_2_1852x1040.jpg');">
    <img class="img-fluid d-block mx-auto" src="/static/img/three-books_gray.svg" alt="Biblio App" width="200px">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Biblio(bus) est un système de localisation d'objets.</h1>
      <p class="lead">Bibliobus permet d'indexer, de partager, et de localiser des objets facilement et qui, en plus, est joli.</p>
      <p>C’est un système d’éclairage pour rechercher et repérer, via un signal lumineux, un objet disposé sur un support. Basé sur un index interrogeable à distance et couplé à circuit de type Arduino, communiquants en liaison série (bus), il permet d'interroger un support pour trouver un objet.</p>
    </div>
  </section>

  <!-- Image element - set the background image for the header in the line below -->
  <div class="py-5 bg-image-full" style="background-image: url('/static/img/presentation_3_1900x1175.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </div>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>L'adressage d'objets, pourquoi faire ?</h1>
      <p class="lead">La consommation et la production d'objets sont devenus cruciaux pour l'économie de distribution. </p>
      <p>Parmi ces objets, il en est certains qui nous sont nécessaires pour vivre. Ces objets doivent demeurer échangeables, réutilisables, partageables.<br />
      Bibliobus est un moyen efficace et ludique pour inscrire le cycle de vie des objets dans une économie circulaire efficiente,  pour tous.</p>
    </div>
  </section>

  <a name="videos">
  <section class="py-5">
    <div class="container">
      <h1>Démos</h1>
      <p class="lead">L'application mobile "BiblioApp" permet de commander le système de localisation d'objets. Voici quelques vidéos sur le fonctionnement de l'appli et son interaction avec une bibliothèque équipée du système "Bibus" composée de 140 ouvrages (visible en incrustration).<p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark">
          <h2 class="font-weight-light"><a href="javascript:videosPresentation('listeContenus');" class="text-white">Les listes de contenu</a></h2> 
          <div class="row">
            <div class="w-320">
              <a href="javascript:videosPresentation('listeContenus');"><img src="/static/img/captvideo.jpg"></a>
            </div>
            <div class="col">
                  <p>Liste des auteurs (liste par défaut) est une navigation alphabétique des initials de noms. On peut afficher ainsi facilement tous les livres d’un auteur, en bleu (couleur par défaut).</p>
                  <p>Liste des catégories :<br/>
                  Les catégories disposent de codes couleurs qu’on peut éditer via l’application de gestion de bibliothèque sur le serveur. Les livres d’une catégorie sont indiqués dans la bibliothèque par les leds avec le code couleur concerné, sinon en bleu ...</p>
            </div>
          </div>
        </li>   
        
      
        <li class="list-group-item list-group-item-dark">
          <h2 class="font-weight-light"><a href="javascript:videosPresentation('commandeVocale');" class="text-white">La commande vocale</a></h2>
        <div class="row">
          <div class="w-320">
            <a href="javascript:videosPresentation('commandeVocale');"><img src="/static/img/captvideo.jpg"></a>
          </div>
          <div class="col">
            <p>La commande vocale fonctionne comme une recherche par mot clé. Elle permet d’extraire à partir d’une phrase type les mots clés à traiter. Il y a 2 types de commandes : “trouve” et “affiche”.</p> 
            <p>Si je demande à l’appli “trouve les livres d'histoire”, le résultat  sera la liste des items trouvés pour le mot clé histoire (comme si j’avais saisi “histoire” dans la recherche).</p>
            <p>... </p>
          </div>
        </div>  
        </li>

        <li class="list-group-item list-group-item-dark"><h2 class="font-weight-light"><a href="javascript:videosPresentation('effetsLumineux');" class="text-white">Les effets lumineux</a></h2>
        <div class="row">
          <div class="w-320">
            <a href="javascript:videosPresentation('effetsLumineux');"><img src="/static/img/captvideo.jpg"></a>
          </div>
          <div class="col">
            <p>Ce sont des effets qui sont programmés dans l’arduino, mais qu’on peut commander depuis l’appli mobile. La différence entre le code personnalisé qu’on peut jouer depuis le serveur, et le code enregistré dans l’arduino est qu’ils ne sont pas de même nature. </p>
            <p>Le premier est exécuté de manière séquentiel par l’appli mobile et envoyé sous forme de message à l’arduino, tandis que l’autre est exécuté par l’arduino permettant des effets plus puissants (comme le fade in / fade out).</p>
          </div>
        </div>  
        </li>        

      </ul>

        {% include '_videos_presentation.html' %}

      </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bibliob.us 2020</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
