{% extends "bootstrap/base.html" %}

{% block head %}
  <meta charset="utf-8" />
  {{ super() }}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Biblio App</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
		{% if user_login %}
			<li class="active"><a href="#">Welcome {{ user_login }}<span class="sr-only">(current)</span> !!</a></li>
		{% else %}
			<li><a href="{{ url_for('login') }}">Login</a></li>
		{% endif %}
		<!--li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
		<li><a href="#">Link</a></li-->
		<li class="dropdown">
		 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
		  <ul class="dropdown-menu" role="menu">
		    <li><a class="dropdown-item" href="{{ url_for('searchBookReference') }}">Add new reference</a></li>
		    <!--li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li-->
		    <li><a href="{{ url_for('myBookShelf') }}">My Book Shelf</a></li>
		    <li><a href="{{ url_for('listAuthors') }}">Authors</a></li>
		    <li class="divider"></li>
		    {% if user_login %}
		    	<li><a href="{{ url_for('logout') }}">Logout</a></li>
		    {% else %}
		    	<li><a href="{{ url_for('login') }}">Login</a></li>
		    {% endif %}
		  </ul>
		</li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search" action="{{ url_for('searchBookReference') }}" method="POST">
		<div class="form-group">
		  Add new book reference :
		  <input class="form-control" placeholder="Search reference" type="text" name="query">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <!--ul class="nav navbar-nav navbar-right">
		<li><a href="#">Link</a></li>
	      </ul-->
	    </div>
	  </div>
	</nav>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	    <div class="alert alert-dismissible alert-success">
	    {% for m in messages %}
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<a href="#" class="alert-link">{{ m }}</a>.
	    {% endfor %}
	    </div>
	{% endif %}
	{% endwith %}

{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% endblock %}
