{% extends "layout.html" %}
{% block title %}modules{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='module.css')}}">
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}

	<script type="text/javascript">
		var sliderList = new Array();
	</script>

	<div class="container">
		
	<h1 class="mt-5 text-white font-weight-light">Select a book shelf module :</h1>
	
	  {% if module %}
		<h3>{{ module['arduino_name'] }}</h3>
			<ul>
				<li>Id BLE : {{ module['id_ble'] }}</li>
				<li>Nb rows : {{ module['nb_lines'] }}</li>
				<li>Nb cols / row : {{ module['nb_cols'] }}</li>
			</ul>
		<p>
			<h4>Edit module properties :</h4>
			<form method="POST" action="{{ url_for('editArduino', app_id=module['id']) }}" id="formEditArduino">
				<input type="hidden" name="module_id" value="{{ module['id'] }}">

				<div class="form-group form-inline">
					<input type="text" class="col-sm-2 form-control" name="module_name" value="{{ module['arduino_name'] }}">
					<label for="module_name" class="col-lg-3 control-label">Set your bookshelf's name</label>
				</div>

				{% if module['mood_color'] != None %}
					{% set color = module['mood_color'].split(',') %}
				{% endif %}				

				{% include '_color_editor.html' %}
			  	<div class="form-group form-inline">
			      <input type="text" class="col-sm-2 form-control" name="mood_color" placeholder="rgb code" onfocus="javascript:colorEditor();" {% if 'mood_color' in module %}value="{{ module['mood_color'] }}"{% endif %}>
			      <label for="mood_color" class="col-lg-3 control-label">Set the default color of the leds</label>
			    </div>

				<input type="hidden" name="action" value="edit">
				<input type="submit" class="btn btn-info" id="saveModule" value="Save">
			</form>			    
		</p>
		<p>
			<h4>Edit static positions :</h4>	    			

				<ul id="shelf">
				{% for line in range(module['nb_lines']) %}
					<li>Edit separators for shelf {{ line+1 }} :
						<ul id="static_{{ line+1 }}" class="static">
						{% set statics = db.get_static_positions(module['id'], line+1) %}
						{% if statics %}
							{% for static in statics %}
							<li id="sep_{{line+1}}_{{loop.index}}">{{ static['led_column'] }}</li>
							{% endfor %}
						{% endif %}						
						</ul>
						<div id="slider_{{ line+1 }}" style="width:700px"></div>
						<script type="text/javascript">
							sliderList.push("static_{{ line+1 }}");
						</script>
					</li>
					<p id="add_{{ line+1 }}" class="text-primary">+add separator</p>
				{% endfor %}
				</ul>

			<button type="button" class="btn btn-info" id="saveStaticPositions">Update</button>		
		</p>
		</li>
	  {% endif %}

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='module.js')}}" async></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
