{% extends "layout.html" %}
{% block title %}modules{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='module.css')}}">
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}

	<script type="text/javascript">
		var sliderList = new Array();
	</script>

	<div class="container">
		
	<h1 class="mt-5 text-white font-weight-light">Select a book shelf module :</h1>
	
	  {% if module %}
		<h3>{{ module['arduino_name'] }}</h3>
			<ul>
				<li>Id BLE : {{ module['id_ble'] }}</li>
				<li>Nb rows : {{ module['nb_lines'] }}</li>
				<li>Nb cols / row : {{ module['nb_cols'] }}</li>
			</ul>
		<p>
			<h4>Edit module properties :</h4>
			<form method="POST" action="{{ url_for('editArduino', app_id=module['id']) }}" id="formEditArduino">
				<input type="hidden" name="module_id" value="{{ module['id'] }}">
				<input type="text" name="module_name" value="{{ module['arduino_name'] }}">

				<ul id="shelf">
				{% for line in range(module['nb_lines']) %}
					<li>Edit separators for shelf {{ line+1 }} :
						<ul id="static_{{ line+1 }}" class="static">
						{% set statics = db.get_static_positions(module['id'], line+1) %}
						{% if statics %}
							{% for static in statics %}
							<li id="sep_{{line+1}}_{{loop.index}}">{{ static['led_column'] }}</li>
							{% endfor %}
						{% endif %}						
						</ul>
						<div id="slider_{{ line+1 }}" style="width:700px"></div>
						<script type="text/javascript">
							sliderList.push("static_{{ line+1 }}");
						</script>
					</li>
					<p id="add_{{ line+1 }}" class="text-primary">+add separator</p>
				{% endfor %}
				</ul>

				<input type="hidden" name="action" value="edit">
				<button type="button" class="btn btn-info" id="saveModule">Update</button>
			</form>
		</p>
		</li>
	  {% endif %}

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='module.js')}}" async></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
