{% extends "layout.html" %}
{% block title %}{% if module %}Admin "{{ module['arduino_name'] }}" {% else %}New module{% endif %}{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='module.css')}}">
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}

	<script type="text/javascript">
		var sliderList = new Array();
	</script>

	<div class="container">
		
	<h1 class="mt-5 text-white font-weight-light">Admin BIBUS module for bookshelf :</h1>
	
      {% if module %}
    		<h4>Bookshelf characteristics : </h4>
    			<ul>
            <li>Name : "{{ module['arduino_name'] }}"</li>
    				<li>GATT name : {{ module['id_ble'] }}</li>
    				<li>Nb rows : {{ module['nb_lines'] }}</li>
    				<li>Nb leds / row : {{ module['nb_cols'] }}</li>
            <li>leds interval : {{ module['leds_interval'] }} cm</li>
            <li>Strip length : {{ module['strip_length'] }} cm</li>
    			</ul>
      {% endif %}

  			<h4>Edit module properties :</h4>
        {% if 'id' in module %}
          {% set formUrl =  url_for('newArduino', app_id=module['id']) %}
        {% else %}
          {% set formUrl =  url_for('newArduino') %}
        {% endif %}
  			<form method="POST" action="{{ formUrl }}" id="formAdminArduino">

          <fieldset>

            {% if 'id' in module %}
                  <input type="hidden" name="user" value="{{ module['id_user'] }}"> 
            {% else %}                              
              <div class="form-group form-inline">
                  <label for="ledspermeter" class="col-lg-2 control-label">Select user</label>
                  <div class="col-lg-3">
                  <select id="user" name="user">
                    <option>Firstname Lastname</option>
                    {% for user in users %}
                       <option value="{{ user['id'] }}">{{ user['firstname'] }} {{ user['lastname'] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>        
            {% endif %}

            <div class="form-group form-inline">
              <label for="module_name" class="col-lg-2 control-label">Bookshelf name</label>
      				<div class="col-lg-3">
                <input type="text" class="form-control" name="module_name" placeholder="arduino_name" value="{% if 'arduino_name' in module %}{{ module['arduino_name'] }}{% endif %}">
      				</div>
            </div>        

            <div class="form-group form-inline">
              <label for="mood_color" class="col-lg-2 control-label">Rows number in bookshelf</label> 
              <div class="col-lg-3">             
               <input type="text" class="form-control" name="nb_lines" placeholder="nb_lines" value="{% if 'nb_lines' in module %}{{ module['nb_lines'] }}{% endif %}">
              </div>
            </div>

            <div class="form-group form-inline">
              <label for="mood_color" class="col-lg-2 control-label">Strip length (cm)</label> 
              <div class="col-lg-3">             
               <input type="text" class="form-control" name="striplength" placeholder="length (cm)" value="{% if 'strip_length' in module %}{{ module['strip_length'] }}{% endif %}">
              </div>
            </div>            

            {%if 'strip_length' in module and module['strip_length'] > 0 %}
              {% set lpm = (module['nb_cols']*100/module['strip_length'])|round|int %}
            {% else %}
              {% set lpm = 0 %}
            {% endif %}

            <div class="form-group form-inline">
                <label for="ledspermeter" class="col-lg-2 control-label">Nb Leds per meter</label>
                <div class="col-lg-3">
                <select id="ledspermeter" name="ledspermeter">
                  <option>Nb Leds</option>
                  <option value="60" {% if lpm == 60 %}selected="selected"{% endif %}>60</option>
                  <option value="144" {% if lpm == 144 %}selected="selected"{% endif %}>144</option>
                </select>
              </div>
            </div> 

            <div class="form-group form-inline">
              <label for="id_ble" class="col-lg-2 control-label">Bibus ID</label> 
              <div class="col-lg-3">             
               <input type="text" class="form-control" name="id_ble" placeholder="Bibus Identifier" value="{% if 'id_ble' in module %}{{ module['id_ble'] }}{% endif %}" disabled>
              </div>
            </div>

            <!--div class="form-group form-inline">
              <label for="mood_color" class="col-lg-2 control-label">Bibus ID</label> 
              <div class="col-lg-3">             
               <input type="text" class="form-control" name="id_ble" placeholder="Bibus Identifier" value="{% if 'id_ble' in module %}{{ module['id_ble'] }}{% endif %}">
              </div>
            </div>                        

            <div class="form-group form-inline">
              <label for="mood_color" class="col-lg-2 control-label">Leds number per row</label> 
              <div class="col-lg-3">             
               <input type="text" class="form-control" name="nb_cols" placeholder="nb_cols" value="{% if 'nb_lines' in module %}{{ module['nb_cols'] }}{% endif %}">
              </div>
            </div>

            <div class="form-group form-inline">
              <label for="mood_color" class="col-lg-2 control-label">Interval measure (mm) between 2 leds</label> 
              <div class="col-lg-3">             
               <input type="text" class="form-control" name="leds_interval" placeholder="leds_interval" value="{% if 'leds_interval' in module %}{{ module['leds_interval'] }}{% endif %}">
              </div>
            </div-->

          </fieldset>
          {% if 'id' in module %}
  				  <input type="hidden" name="module_id" value="{{ module['id'] }}">
          {% endif %}
          <input type="hidden" name="action" value="admin">
  				<input type="submit" class="btn btn-info" id="saveModule" value="Save">
  			</form>			    

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='module_admin.js')}}"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
