{% extends "layout.html" %}
{% block title %}Bookshelf module{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='module.css')}}">
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}

	<div class="container">
		
	<h1 class="mt-5 text-white font-weight-light">Edit your bookshelf :</h1>
	
	  {% if module %}

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#editProp">Module properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#shelfSep">Shelf separators</a>
      </li>     
    </ul>

    <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade show active" id="editProp">

  		<h4>Bookshelf characteristics : </h4>
  			<ul>
          <li>Name : "{{ module['arduino_name'] }}"</li>
  				<li>GATT name : {{ module['id_ble'] }}</li>
  				<li>Nb rows : {{ module['nb_lines'] }}</li>
  				<li>Nb leds / row : {{ module['nb_cols'] }}</li>
          <li>leds interval : {{ module['leds_interval']/100 }} cm</li>
  			</ul>
  		<p>
  			<h4>Edit module properties :</h4>
  			<form method="POST" action="{{ url_for('editArduino', app_id=module['id']) }}" id="formEditArduino">
  				<input type="hidden" name="module_id" value="{{ module['id'] }}">

          <fieldset>
          <div class="form-group form-inline">
            <label for="module_name" class="col-lg-2 control-label">Bookshelf name</label>
    				<div class="col-lg-3">
              <input type="text" class="form-control" name="module_name" value="{{ module['arduino_name'] }}">
    				</div>
          </div>

  				{% if module['mood_color'] != None %}
  					{% set color = module['mood_color'].split(',') %}
  				{% endif %}				

  				{% include '_color_editor.html' %}
  			  	<div class="form-group form-inline">
              <label for="mood_color" class="col-lg-2 control-label">Default mood color</label> 
              <div class="col-lg-3">             
  			       <input type="text" class="form-control" name="mood_color" placeholder="rgb code" onfocus="javascript:colorEditor();" {% if 'mood_color' in module %}value="{{ module['mood_color'] }}"{% endif %}>
              </div>
  			    </div>
          </fieldset>

  				<input type="hidden" name="action" value="user_edit">
  				<input type="submit" class="btn btn-info" id="saveModule" value="Save">
  			</form>			    
  		</p>

    </div>

		<div class="tab-pane fade" id="shelfSep">

			<h3>Edit separators between books:</h3>	
      <p>Set the emplacement of shelf supports foreach rows in your bookshelf. Measure the distance from the start of the LEDs strip to the first support, then to the second ..., then drag the handle to the measured emplacement.</p>    			

				<div id="shelf">

        <script type="text/javascript">
          var nb_cols = {{ module['nb_cols'] }};
          var leds_interval = {{ module['leds_interval']/100 }};
          var sliderList = new Array();
        </script>

				{% for line in range(module['nb_lines']) %}
						<ul id="static_{{ line+1 }}" class="static">
						{% set statics = db.get_static_positions(module['id'], line+1) %}
						{% if statics %}
							{% for static in statics %}
							<li id="sep_{{line+1}}_{{loop.index}}">{{ static['led_column'] }}</li>
							{% endfor %}
						{% endif %}						
						</ul>
						<span>Row {{ line+1 }}</span>
            <div id="slider_{{ line+1 }}"></div>
						<script type="text/javascript">
							sliderList.push("static_{{ line+1 }}");
						</script>

					<div id="add_{{ line+1 }}" class="text-primary">+add separator</div>
				{% endfor %}

				</div>

      <div class="alert alert-info alert-dismissible fade show" role="alert" id="alertPreview">
        <strong>Preview is set !</strong> You should check with "Get distant requests" in BiblioApp.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertSave">
        <strong>Separator positions are saved !</strong> Your bookshelf is well configured. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      

			<button type="button" class="btn btn-info" id="previewStaticPositions">Preview on shelf</button>  
      <button type="button" class="btn btn-success" id="saveStaticPositions">Save separators</button>	

    </div>

    {% endif %}

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='module.js')}}" async></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}
