{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block styles %}
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}

	<form action="{{ url_for('signup') }}" method="POST">

		<input type="text" name="name" id="name" placeholder="name"/>
		
		<input type="text" name="email" id="email" placeholder="email"/>
		<input type="password" name="password" id="password" placeholder="password"/>
		<input type="submit" name="submit"/>
	</form>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}