{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block styles %}
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
<div class="container">
	<h1 class="mt-5 text-white font-weight-light">Sign up ...</h1>
	<h2>... and turn on your bookshelf !</h2>

	<form action="{{ url_for('signUp') }}" method="POST" class="form-horizontal" id="form-signUp">

		<div class="form-group row">
			<label for="ufirstname" class="col-sm-2 col-form-label">Firstname</label> 
	   		<div class="col-sm-4">
	   			<input type="text" name="ufirstname" id="ufirstname" placeholder="Firstname" class="form-control"/>
	   		</div>
		</div>

		<div class="form-group row">
			<label for="ulastname" class="col-sm-2 col-form-label">Lastname</label> 
	   		<div class="col-sm-4">
	   			<input type="text" name="ulastname" id="ulastname" placeholder="Lastname" class="form-control"/>
	   		</div>
		</div>

		<div class="form-group row">
			<label for="uemail" class="col-sm-2 col-form-label">Email</label> 
			<div class="col-sm-4">
	   			<input type="text" name="uemail" id="uemail" placeholder="Email" class="form-control"/>
	   		</div>
	     	<div class="col-sm-4">
		        <small id="uemailHelp" class="text-danger" style="display: none">
		          Email doesn't seem to be valid.
		        </small>
      		</div>	
		</div>				
		
		<div class="form-group row">
			<label for="upassword" class="col-sm-2 col-form-label">Password</label> 
	   		<div class="col-sm-4">
	   			<input type="password" name="upassword" id="upassword" placeholder="password" class="form-control"/>
	   		</div>
	     	<div class="col-sm-4">
		        <small id="passwordHelp" class="text-danger" style="display: none">
		          Password is too short (at least 6 characters) or doesn't match with password confirmation.
		        </small>
      		</div>	   		
		</div>	

		<div class="form-group row">
			<label for="passwordconfirm" class="col-sm-2 col-form-label">Password confirm</label> 	   		
	   		<div class="col-sm-4">
	   			<input type="password" name="passwordconfirm" id="passwordconfirm" placeholder="password confirm" class="form-control"/>
	   		</div>	   		
		</div>

		<div class="form-group row">
			<button class="g-recaptcha btn btn-info" 
		        data-sitekey="6Lc6WKMZAAAAACRIRR1m9NsbUgSDILhhKdKOfXrZ" 
		        data-callback='onSubmit' 
		        data-action='submit'>Submit</button>
			<div class="col-sm-4">
		        <small id="recaptchaHelp" class="text-danger" style="display: none">
		          reCaptcha is not valid, try submit form again.
		        </small>
      		</div>	   		
		</div>

	</form>
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="https://www.google.com/recaptcha/api.js"></script>  
  <script src="{{url_for('static', filename='signup.js')}}"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}

{% endblock %}