{% extends "layout.html" %}
{% block title %}Tag{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='tag.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
	<div class="container">

	<h1>{{ author }} book's</h1>

	<p>Use sliders to set color.</p>
    Red
    <input type="range" min="0" max="255" value="0" id="red"/>
    Green
    <input type="range" min="0" max="255" value="0" id="green"/>
    Blue
    <input type="range" min="0" max="255" value="0" id="blue"/>

    <div id="rgbText">
        &nbsp;
    </div>
    <div id="previewColor">
    </div> 

	  {%if books %}
	  <ul>
	  	{% for book in books %}
			<li><a href="{{ url_for('getBook', book_id=book['id']) }}">{{ book['author'] }}, <i>{{ book['title'] }}</i>, {{ book['year'] }}, {{ book['pages'] }}p</a>
	  			{% if book['address'] %}
	  			
	  				{% set address = book['address'] %}
	  				{% set hasRequest = book['hasRequest'] %}
					{% include '_locate_form.html' %}
	  				
				{% endif %}
			</li>
	  	{% endfor %}
	  </ul>
	  {% endif %}	

	{{ super() }}
	</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='app.js')}}"></script>
  <script src="{{url_for('static', filename='tag.js')}}"></script>
{% endblock %}

{% endblock %}
