{% extends "layout.html" %}
{% block title %}Index Bookshelf{% endblock %}
{% block styles %}
    {{super()}}
{% endblock %}

{% block body %}

{% block navbar %}
    {{super()}}
{% endblock %}


{% block content %}
	<div class="container">

		<h1 class="mt-5 text-white font-weight-light">Pictures for "{{ module_name }}" indexation for shelf n°{{ numshelf }} </h1>
		<p>Choose 3 pictures max for this shelf indexation</p>
		<p> 
			<a href="{{ url_for('bookIndexerAI') }}"><button class="btn btn-info">Upload new picture</button></a>
		</p>
		<form class="form-horizontal">
		<fieldset>
			<div class="form-group row">
			{% for img in img_paths %}
			<div class="form-check p-4">
				<input name="shelf-pictures" class="form-check-input" type="checkbox" value="{{ img['filename'] }}" id="{{ img['filename'] }}">
				<label class="form-check-label" for="{{ img['filename'] }}"><img src="{{ img['path'] }}" height="200px"></label><br/>
				<a href="#" data-toggle="modal" data-target="#modal_{{ img['modal'] }}">[zoom]</a>			
			</div>
			<!--modal zoom image-->
			<div class="modal fade" id="modal_{{ img['modal'] }}" tabindex="-1" role="dialog" aria-labelledby="{{ img['modal'] }}" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header" style="color:grey">
			        <h5 class="modal-title" id="{{ img['modal'] }}">Image {{ img['filename'] }}</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <img src="{{ img['path'] }}" width="100%">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-danger" onClick="deleteImage('{{ img['filename'] }}', {{ numshelf }})">Delete image</button>
			      </div>
			    </div>
			  </div>
			</div>
			{% endfor %}
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group row">
				<div class="form-check mr-4">
					<input name="autoindex" id="autoindex" class="form-check-input" type="checkbox" value="autoindex">
					<label class="form-check-label" for="autoindex">Use auto indexation</label>
				</div>
				<div class="form-check">
					<input name="reset_positions" id="reset_positions" class="form-check-input" type="checkbox" value="1">
					<label class="form-check-label" for="reset_positions">Reset positions</label>
				</div>
			</div>
		</fieldset>
		<input type="hidden" name="numshelf" id="numshelf" value="{{ numshelf }}">

		</form>

		<button class="btn btn-info mt-4" id="start-ocr">Start analyze</button>

		<div id="ocrResult"></div>
		<br/>

	</div>
{% endblock %}

{% block scripts %}
{{super()}}
  <script src="{{url_for('static', filename='ocr.js', version='2405212346')}}"></script>
{% endblock %}

{% endblock %}